*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
.indexer.conf
keystore.properties
index.txt
data.tar.xz
app/src/main/assets/ubuntu-base.tar.gz
proot_test
